.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 1rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

h3,
label {
  color: black;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.logIn {
  text-align: center;
  margin-top: 150px;
  position: relative;
}

.logIn h3 {
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
}

#buttonDiv {
  display: grid;
  place-items: center;
}

.tablaProducto {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.card-body {
  max-height: 300px;
}

.checked {
  color: orange;
}

#puntaje {
  width: 150px;
  padding: 5px;
}

.bi-star-fill {
  color: orange;
}

#contenedorComentariosNuevos {
  margin-top: 20px;
  font-family: Raleway;
}

#contenedorComentariosNuevos textarea {
  border: 1px solid rgba(0, 0, 0, .125);
}

#contenedorComentariosNuevos textarea:focus {
  outline: none;
}

#puntaje {
  border: 1px solid rgba(0, 0, 0, .125);
}

#comentarios {
  margin-top: 10px;
}


.tablaProducto,
td {
  position: relative;
  margin-top: 50px;
  font-family: Raleway;
}

#contenedorProductoRelacionado {
  display: flex;
  justify-content: space-between;
}

#productosRelacionados {
  width: 450px;
}

#contenedorProductoRelacionado img:hover {
  opacity: 0.9;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(1);
}

.bi-chevron-right {
  margin-left: 100px;
}

.bi-chevron-left {
  margin-right: 100px;
}

#comentarioNuevoCarrusel {
  display: flex;
}

.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

#containerCarrito {
  max-width: 60%;
  margin-top: 20px;
}

#containerCarrito table {
  margin-top: 15px;
}

#contenedorDireccionEnvio {
  margin-top: 30px;
}

#contenedorDireccionEnvio h4 {
  margin-top: 15px;
}

#direccionEsquina,
#direccionCalle {
  width: 400px;
}

#direccionNumero {
  width: 250px;
}

.inputCalleNumero {
  display: flex;
}

.inputCalleNumero input {
  margin-top: 40px;
  transform: translateX(-2.3rem);
}

#direccionNumero {
  transform: translateX(-3.8rem)
}

#listado,
#test1 {
  display: flex;
  justify-content: space-between;
  margin-right: 450px;
}

.bi-cart-x-fill {
  cursor: pointer;
}

.bi-cart-x-fill:hover {
  color: red;
}

#tablaCarrito input {
  width: 70px;
}

#formasDePago input::-webkit-outer-spin-button,
#formasDePago input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

#contenedorDireccionEnvio input::-webkit-outer-spin-button,
#contenedorDireccionEnvio input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


#modalBody input[type=number]::-webkit-outer-spin-button,
#modalBody input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.bi-currency-euro {
  color: yellow;
}

.bi-currency-pound {
  color: orange;
}

.bi-currency-dollar {
  color: lightgreen;
}

#previewImagen {
  max-width: 80px;
}

.no-validar-feedback {
  border-color: #ced4da !important;
  background-image: none !important;
  box-shadow: none !important;
}

#modificar {
  cursor: pointer;
}

.avatar {
  height: 80px;
  border: none;
}

#previewImagen img {
  max-width: 80px;
  max-height: 80px;
}